* {
    -fx-text-color: #C6CEF4;
}

.label {
    -fx-text-fill: -fx-text-color;
    -fx-font-family: "Noto Sans";
}

.border-pane {
    -fx-background-color: #2A5581;
}

/* Titled Pane Styling */
.titled-pane > .content > * {
    -fx-padding: 0px;
    -fx-border-color: transparent;
}

.titled-pane > *.content {
    -fx-border-width: 0px;
}

.accordion {
    -fx-border-color: transparent;
}

.titled-pane {
    -fx-text-fill: -fx-text-color;
}

.titled-pane > .title {
    -fx-background-color: #366897;
    -fx-font-family: "Noto Sans";
    -fx-font-weight: 900;
}

/* Table Styling */
.table-view {
    -fx-background-color: #072A46;
    -fx-border-width: 1px;
    -fx-border-color: #0C3E4F;
    -fx-text-alignment: center;
}

.table-view .column-header,
.table-view .column-header .filler {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #062741, #0F4066);
    -fx-border-color: #04192A;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-view .column-header-background .filler {
    -fx-background-color: #072A46;
    -fx-padding: 1em;
}

.table-view .table-column {
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: transparent;
    -fx-border-style: solid none none none;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #0B3E6B;
    -fx-text-fill: -fx-text-color;
}

.table-row-cell:odd {
    -fx-background-color: #0D3152;
}

.table-row-cell:selected {
    -fx-background-color: #DFB674, #18669d;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-padding: 0 0 0 0;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

/* Checkbox Styling */
.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #DFB674;
}

.check-box:selected .mark {
    -fx-background-color: #DFB674;
}

.check-box:hover {
    -fx-border-color: transparent;
    -fx-background-color: #224763;
}

/* Search Bar Styling */
.text-field {
    -fx-background-color: #072A46;
    -fx-text-fill: -fx-text-color;
}

.menu-bar {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #062741, #0F4066);
    -fx-border-color: #0C3E4F;
}

.menu-bar>.container>.menu-button:hover,
.menu-bar>.container>.menu-button:focused,
.menu-bar>.container>.menu-button:showing {
    -fx-background-color: #0F4066;
}

.context-menu {
    -fx-background-color: #072A46;
}

.menu-item:focused,
.menu-item:hover {
    -fx-background-color: #0F4066;
}

#sideMenu {
    -fx-background-color: #2A5581;
}

.mainTitle {
    -fx-font-family: "Penumbra HalfSerif Std";
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-margin: 0px;
    -fx-text-fill: white;
}

#menu-border {
    -fx-image: url("/gui/images/sideways-separator.png");
}

#controls-border {
    -fx-image: url("/gui/images/control-separator.png");
    -fx-padding: 0px;
}

#file-border {
    -fx-image: url("/gui/images/file-separator.png");
    -fx-padding: 0px;
}

#testingLine {

}

#bigTitle {
    -fx-font-size: 4em;
}

#homeView {
    -fx-background-image: url("/gui/images/world-map.jpg");
    -fx-background-size: 120% 100%;
}

.itemBox {
    -fx-background-color: #2A5581;
}

.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #5A8BBE;
    -fx-background-color: rgba(33,73,119,0.5);
    -fx-text-fill: -fx-text-color;
    -fx-font-family: "Noto Sans";
    -fx-border-width: 2px;
    -fx-background-insets: 0;
}

.button:hover {
    -fx-background-color: #2F69A8;
}

#itemsButton:focused {
    -fx-border-width: 1px;
}

.searchButton:focused {

}